a {
    color: black;
    text-decoration: none;
}

a:hover,
a:active {
    color: #D1A954;
}

a:active {
    border: 1px solid #D1A95490;
}

a.footer-link:visited {
    color: gray;
}

.aboutrestaraunt-section {
    grid-area: aboutrestaraunt-section;
}

#aboutrestarauntimg,
.logobig {
    display: block;
    margin: auto;
}

.abountrestaraunt-div {
    flex-basis: 35%;
    box-sizing: border-box;
    padding-right: 5%;
}

.aboutrestaraunt-flex-container-inn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    flex-basis: 35%;
}

.aboutrestaraunt-flex-container-inn-div {
    flex-basis: 50%;
}

.aboutrestaraunt-flex-container-out {
    grid-area: aboutrestaraunt-flex-container-out;
    display: flex;
    justify-content: center;

}

.aboutrestaraunt-flex-container-inn,
.aboutrestaraunt-flex-container-inn-div,
.aboutrestaraunt-flex-container-out {
    box-sizing: border-box;
    padding: 5px;
}

.body-grid-container {
    display: grid;
    grid-template: "header""first-flex-container-section""aboutrestaraunt-section""aboutrestaraunt-flex-container-out""download-section""contact-section""last-section""footer-flex-container";
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-size: 1em;
    height: 100%;
}

.contact-form {
    margin: 7px 0px;
    width: 500px;
    border: 0.5px solid #D0D0D0;
}

.contact-form-input-text {
    height: 40px;
}

.contact-section {
    grid-area: contact-section;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 0.1fr 1fr;
    grid-gap: 3%;
}

.contact-section-div {
    grid-column: 2/3;
    grid-row: 1/3;
}

.contact-section-form {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contact-h2 {
    text-align: left;
}

.contact-section-inn {
    display: flex;
}

.copyright {
    font-size: 0.7em;
    line-height: 135%;
}

.description-caption {

    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
}

.download {
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, #C4C4C4, #C4C4C4);
}


.download-h2 {
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;

}

.download-button {
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    border: 0ch;
    flex-basis: 25%;
    padding: 1em;

    background: #FFFFFF;
}

.download-buttons {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.download-section {
    grid-area: download-section;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 0.3fr;
    background-image: url('/assets/images/downloadimg.png');
}

#extmenu {
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: start;
    justify-self: center;
}


.firstscreenimg {
    width: calc(96vw/3);
}

.foto-section {
    grid-area: first-flex-container-section;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
}

.foto-section-div-foto1,
.foto-section-div-foto2,
.foto-section-div-foto3 {
    display: flex;
    flex-basis: 32%;
    align-content: flex-end;
    flex-direction: column-reverse;
}


.foto-section-div-foto1 {
    background-image: url('/assets/images/firstscreenimg1.png');

}

.foto-section-div-foto2 {

    background-image: url('/assets/images/firstscreenimg2.png');
}


.foto-section-div-foto3 {
    background-image: url('/assets/images/firstscreenimg3.png');
}

.first-section-p {
    text-align: center;
}

.footer-flex-container {
    grid-area: footer-flex-container;
    display: flex;
    justify-content: space-around;
    align-content: center;

}


.fsborder {
    border: 1px solid #FFFFFF50;
    box-sizing: border-box;
}

.fscolor {
    box-sizing: border-box;
    padding: 20px 15px 20px 15px;
    flex-basis: 30%;
    color: #FFFFFF;
    background-color: #D1A95490;
}

.gray {
    background: #F9F7F7;
}


h2,
h3,
h4 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: lighter;
    font-size: 36px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
}

h4 {

    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr 0.25fr;
    grid-template-rows: 0.1fr 0.3fr 0.6fr 0.2fr;
    height: max-content;
}

input:focus,
textarea:focus {
    background-color: beige;
}

.instagram-section {
    display: flex;
    align-content: space-around;
}

.instaimg {
    height: calc(100%/6.1);
    width: calc(100%/6.1);
}

.last-section {
    grid-area: last-section;
}

#logo {
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
}

.logobig {
    height: 30px;
    width: 46px;
}

.logocaption {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.03em;
    text-align: center;
}


.menu-nav {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#send {
    height: 45px;
    width: 35%;
    color: #FFFFFF;
    background: #D1A954;
    border: 0ch;
}

@media screen and (max-width: 600px) {
    .aboutrestaraunt-section {
        display: none;
    }

    .aboutrestaraunt-flex-container-out {
        display: none;
    }

    .body-grid-container {
        display: grid;
        grid-template: "header""first-flex-container-section""download-section""contact-section""footer-flex-container";
        height: 100vh;
        width: 100vw;
    }

    .contact-form {
        margin: 5px 0px;
        width: 100%;
        border: 0.5px solid #D0D0D0;
    }

    .contact-form-input-text {
        height: 30px;
    }

    .contact-section {
        grid-area: contact-section;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 0.5fr 0.5fr;
        grid-gap: 0%;
        width: 100%;
    }

    .contact-section-div {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .contact-section-form {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .contact-h2 {
        text-align: center;
    }

    .contact-section-inn {
        display: flex;
        flex-direction: column;
    }

    .copyright {
        font-size: 0.7em;
        line-height: 100%;
    }

    .download-button {
        letter-spacing: 0.05em;
        color: #000000;
        text-align: center;
        border: 0ch;
        padding: 1em;
        width: 60%;
        margin: 5px;
        background: #FFFFFF;
    }

    .download-buttons {
        grid-row: 3/4;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        margin: -5px 0px;

        align-items: center;
    }

    .download-h2 {
        grid-row: 2/3;
        color: white;
        grid-column: 1/2;
    }


    .download-section {
        grid-area: download-section;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.25fr 0.6fr 0.2fr;
        background-image: url('/assets/images/downloadimg.png');
    }


    #extmenu {
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: start;
        justify-self: start;
    }

    .footer-flex-container {
        grid-area: footer-flex-container;
        display: flex;
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
    }

    .foto-section {
        grid-area: first-flex-container-section;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: max-content;
    }

    h2 {
        font-weight: lighter;
        font-size: 2em;
    }

    .header {
        grid-area: header;
        display: grid;
        grid-template-columns: 0.1fr 0.2fr 0.7fr 0.1fr;
        grid-template-rows: 0.1fr 0.3fr 0.6fr 0.3fr;
        height: max-content;
    }

    .last-section {
        display: none;
    }

    #logo {
        grid-column: 3/4;
        grid-row: 2/4;
        justify-self: end;
        max-width: 100%;
        max-height: 100%;
    }

    .menu-nav {
        display: none;
    }

    #send {
        height: 45px;
        width: 50%;
        color: #FFFFFF;
        background: #D1A954;
        border: 0ch;
    }

}